html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  outline: 1px dashed lightgrey;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.container-width {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  list-style: none;
  margin: 0;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.sedona-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
}

.site-navigation li {
  width: 240px;
  text-align: center;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 510px;
  background-color: #ffffff;
  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
  background-position:
    center 100px,
    0 453px,
    left -55px;
  background-repeat: no-repeat;
  background-size:
    460px 353px,
    1200px 59px,
    1200px 775px;
}

.container-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 55px;
  width: 1200px;
  background-color: #ffffff;
}

.welcome-sedona h2 {
  width: 450px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.welcome-sedona p {
  width: 490px;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
}

.feature-true {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.about-true,
.about-bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.feature-true h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.answer {
  padding-left: 60px;
  padding-right: 60px;
}

/* Что-то я не знаю как обрезать без высоты  */
.image-city {
  display: flex;
  align-items: center;
  width: 800px;
  height: 255px;
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 160px;
  text-align: center;
  list-style: none;
}

.features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-bottom: 85px;
}

.features-list h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.feature-house h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-food h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 563px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-souvenirs h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 968px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features p {
  width: 300px;
  text-align: center;
}

.feature-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-bridge h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.image-bridge {
  display: flex;
  align-items: center;
  width: 800px;
  height: 255px;
  overflow: hidden;
}

.features-life {
  background-color: #eeeeee;
}

.features-life .features-list {
  margin: 0;
  padding-top: 0;
}

.features-life li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.features-life h3 {
  padding-left: 130px;
  padding-right: 130px;
}

.features-life p {
  padding-left: 65px;
  padding-right: 65px;
}

.features-life .narrow {
  padding-left: 75px;
  padding-right: 75px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search h3 {
  margin-top: 55px;
  margin-bottom: 35px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search p {
  margin-bottom: 50px;
  text-align: center;
}

.button-call-form {
  width: 570px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-call-form:hover,
.button-call-form:focus {
  background-color: #604e43;
}

.button-call-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel-form {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.entry-field {
  text-align: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.half-entry-field {
  text-align: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

input[type=date]:hover,
input[type=number]:hover {
  background-color: #ebebeb;
}

input[type=date]:focus,
input[type=number]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.date {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.number-people {
  text-align: center;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.button-number-minus,
.button-number-plus,
.button-call-calendar {
  background-color: #f2f2f2;
  border: none;
  fill: #a9a9a9;
}

.button-number-minus:hover,
.button-number-plus:hover,
.button-call-calendar:hover,
.button-number-minus:focus,
.button-number-plus:focus,
.button-call-calendar:focus {
  fill: #000000;
}

.button-number-minus:active,
.button-number-plus:active,
.button-call-calendar:active {
  fill: #81b3d2;
}

.button-search {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  position: relative;
  top: 120px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

.tag {
  width: 240px;
  margin-left: 70px;
}

.tag a {
  padding-left: 60px;
  padding-right: 45px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 36px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.developer {
  position: relative;
  width: 240px;
  margin-right: 70px;
}

.developer span {
  padding-left: 15px;
  padding-right: 150px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.developer-button {
  position: absolute;
  top: -5px;
  left: 100px;
}

.developer-button:hover path,
.developer-button:focus path {
  fill: #5496bd;
}

.developer-button:active path {
  fill: rgb(188, 188, 188);
}

.filters {
  display: flex;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}

.detail-search-form {
  display: flex;
}

.infrastructure {
  display: flex;
  width: 240px;
  flex-direction: column;
  margin-left: 70px;
}

.type-house {
  display: flex;
  width: 290px;
  flex-direction: column;
  margin-right: 200px;
}

.container-price {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-right: 70px;
}

.price {
  display: flex;
  width: 330px;
  margin-right: 70px;
}

.filters .legend {
  text-align: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.button-detail-search {
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}

.button-detail-search:hover,
.button-detail-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.found-result {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.found-result h3 {
  padding-left: 3px;
  width: 160px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.found-result h4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.choice-sorting {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.choice-sorting li {
  margin-right: 32px;
}

.result ul,
.catalog-list ul {
  list-style: none;
}

.choice-sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.choice-sorting a:hover,
.choice-sorting a:focus {
  color: #81b3d2
}

.choice-sorting a:active {
  color: #111111;
  border: none;
}

.sorting-current {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  border-bottom: none;
}

.sorting-icons {
  display: flex;
  justify-content: space-around;
  width: 40px;
  margin: 0;
  padding: 0;
}

.sorting-down path {
  fill: #cacaca;
}

.sorting-up path {
  fill: #cacaca;
}

.sorting-up:hover path,
/* .sorting-down:hover path, */
.sorting-up:focus path

/* .sorting-down:focus path */
  {
  fill: #231f20
}

.sorting-up:active path

/* .sorting-down:active path*/
  {
  fill: #81b3d2;
}

.current path {
  fill: #81b3d2;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-hotel {
  list-style: none;
  border-top: 1px solid rgb(229, 229, 229);
}

.catalog-hotel:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.card-hotel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-hotel {
  display: flex;
  width: 530px;
}

.catalog-hotel-image {
  width: 135px;
  height: 90px;
  margin: 0;
}

.discription-hotel {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding-left: 30px;
  padding-right: 105px;
}

.discription-hotel h2 {
  width: 365px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.discription-hotel a:hover,
.discription-hotel a:focus {
  color: #81b3d2;
}

.discription-hotel a:active {
  color: #b2b2b2;
}

.discription-hotel p {
  margin: 0;
  padding: 0;
}

.price-hotel {
  width: 365px;
  margin-bottom: 14px;
}

.catalog-hotel-type {
  margin-right: 37px;
}

.reservation {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-hotel-type {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.catalog-hotel-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.button-more {
  width: 110px;
  height: 27px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-order {
  width: 142px;
  height: 27px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.button-order:hover,
.button-order:focus {
  background-color: #604e43;
}

.button-order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  position: relative;
  padding-top: 95px;
}

.rating span {
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.hotel-amara {
  position: relative;
}

.hotel-amara::before {
  content: "";
  width: 72px;
  height: 17px;
  position: absolute;
  top: -65px;
  right: 0;
  background-image: url("../img/star.svg");
}

.hotel-quail-inn {
  position: relative;
}

.hotel-quail-inn::before {
  content: "";
  width: 54px;
  height: 17px;
  position: absolute;
  top: -65px;
  right: 0;
  background-image: url("../img/star.svg");
}

.hotel-villas {
  position: relative;
}

.hotel-villas::before {
  content: "";
  width: 36px;
  height: 17px;
  position: absolute;
  top: -65px;
  right: 0;
  background-image: url("../img/star.svg");
}
