html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* * {
  outline: 1px dashed lightgrey;
} */

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.container-shadow {
  width: 1280px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  width: 1200px;
  list-style: none;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.sedona-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}

.site-navigation li:first-child {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 72px;
  text-align: right;
}

.site-navigation li:last-child {
  padding-right: 72px;
  text-align: right;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.site-navigation-current {
  pointer-events: none;
  color: #766357;
}

.welcome-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 510px;
  background-color: #ffffff;
  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
  background-position:
    center 77px,
    0 452px,
    left -82px;
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    1200px 60px,
    1200px 800px;
}

.container-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 53px;
  width: 1200px;
  background-color: #ffffff;
}

.welcome-sedona h2 {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 360px;
  padding-right: 360px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.welcome-sedona p {
  margin: 0;
  text-align: center;
  padding-left: 355px;
  padding-right: 355px;
  background-color: #ffffff;
}

.feature-true {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.about-true,
.about-bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 55px;
  padding: 0;
  text-align: center;
}

.feature-true h3 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 130px;
  padding-right: 130px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.answer {
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 21px;
}

.image-city {
  display: flex;
  align-items: center;
  width: 800px;
  height: 255px;
  overflow: hidden;
}

.feature-number {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-left: 170px;
  padding-right: 170px;
}

.features-list {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 0;
  margin: 0;
}

.features-list h3 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 160px;
  padding-left: 140px;
  padding-right: 140px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.feature-house h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-food h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 563px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-souvenirs h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 968px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features p {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 21px;
}

.feature-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-bridge h3 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 124px;
  padding-right: 124px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.about-bridge .answer {
  padding-left: 45px;
  padding-right: 45px;
}

.image-bridge {
  display: flex;
  align-items: center;
  width: 800px;
  height: 255px;
  overflow: hidden;
}

.features-life {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

.features-life .features-list {
  margin: 0;
  padding: 0;
}

.features-life li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 45px;
  padding-bottom: 60px;
}

.features-life h3 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 130px;
  padding-right: 130px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-life p {
  margin: 0;
  padding: 0;
  padding-left: 65px;
  padding-right: 65px;
  line-height: 21px;
}

.features-life .narrow {
  padding-left: 75px;
  padding-right: 75px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.search h3 {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search p {
  padding: 0;
  padding-left: 380px;
  padding-right: 380px;
  margin: 0;
  margin-bottom: 45px;
  text-align: center;
  line-height: 24px;
}

.button-call-form {
  width: 570px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-call-form:hover,
.button-call-form:focus {
  background-color: #604e43;
}

.button-call-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.container-form {
  position: absolute;
  z-index: 1;
  top: 290px;
  width: 570px;
  margin: 0;
  background-color: #ffffff;
}

.search-hotel-form {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 55px;
}

.entry-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  margin-bottom: 28px;
  text-align: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.entry-field label {
  padding-left: 2px;
  width: 110px;
}

.arrival-form {
  display: flex;
  position: relative;
}

.out-form {
  display: flex;
  position: relative;
}

.date {
  width: 345px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 40px;
  margin: 0;
}

.button-call-calendar {
  position: absolute;
  top: 8px;
  right: 5px;
}

.human-form {
  display: flex;
  align-items: center;
  width: 460px;
  margin-bottom: 55px;
}

.adults-entry-field,
.children-entry-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  text-align: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.children-entry-field {
  width: 180px;
  margin-left: 50px;
}

.adults-form,
.children-form {
  display: flex;
  position: relative;
}

.number-people {
  width: 114px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 38px;
  padding-right: 38px;
}

.button-number-minus {
  position: absolute;
  top: 11px;
  left: 0;
  width: 38px;
}

.button-number-plus {
  position: absolute;
  top: 11px;
  right: 0;
  width: 38px;
}

input[type=date]:hover,
input[type=number]:hover {
  background-color: #ebebeb;
}

input[type=date]:focus,
input[type=number]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.date {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.number-people {
  text-align: center;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.button-number-minus,
.button-number-plus,
.button-call-calendar {
  background-color: transparent;
  border: none;
  fill: #a9a9a9;
}

.button-number-minus:hover,
.button-number-plus:hover,
.button-call-calendar:hover,
.button-number-minus:focus,
.button-number-plus:focus,
.button-call-calendar:focus {
  fill: #000000;
}

.button-number-minus:active,
.button-number-plus:active,
.button-call-calendar:active {
  fill: #81b3d2;
}

.button-search {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  margin-bottom: -120px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

.tag {
  width: 240px;
  margin-left: 70px;
}

.tag a {
  padding-left: 63px;
  padding-right: 45px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 36px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.developer {
  position: relative;
  width: 240px;
  margin-right: 70px;
}

.developer span {
  padding-left: 15px;
  padding-right: 150px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.developer-button {
  position: absolute;
  top: -7px;
  left: 96px;
}

.developer-button:hover path,
.developer-button:focus path {
  fill: #5496bd;
}

.developer-button:active path {
  fill: rgb(188, 188, 188);
}

.filters {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 28px;
  padding-bottom: 30px;
  background-image: url("../img/filter-background.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}

.detail-search-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.detail-search-form fieldset {
  border: none;
}

.container-choice-hotel {
  display: flex;
  width: 530px;
}

.detail-search-form legend {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.detail-search-form label {
  padding-left: 42px;
  margin-bottom: 25px;
}

.detail-search-form label:last-child {
  margin-bottom: 0;
}

.infrastructure {
  display: flex;
  min-width: 255px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.type-house {
  display: flex;
  min-width: 288px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 210px;
  width: 240px;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.container-price {
  display: flex;
  flex-direction: column;
  min-width: 322px;
}

.price {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.price legend {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  margin-bottom: 10px;
}

.price-choice {
  display: flex;
  width: 320px;
  position: relative;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.price-choice span {
  width: 157px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.price-choice::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-price {
  display: flex;
  width: 320px;
}

.range-price input {
  width: 160px;
}

.button-detail-search {
  width: 137px;
  margin-left: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.button-detail-search:hover,
.button-detail-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: left;
}

.found-result {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.found-result h3 {
  width: 165px;
  padding: 0;
  padding-left: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.found-result h4 {
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.choice-sorting {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.choice-sorting li {
  padding-top: 5px;
  margin-right: 32px;
}

.result ul,
.catalog-list ul {
  list-style: none;
}

.choice-sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.choice-sorting a:hover,
.choice-sorting a:focus {
  color: #81b3d2
}

.choice-sorting a:active {
  color: #111111;
  border: none;
}

a.sorting-current {
  pointer-events: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  border-bottom: none;
}

.sorting-icons {
  display: flex;
  justify-content: space-between;
  width: 35px;
  margin: 0;
  margin-top: 3px;
  margin-right: 3px;
  padding: 0;
}

.sorting-icons path {
  fill: #cacaca;
}

.sorting-up:hover path,
.sorting-down:hover path,
.sorting-up:focus path,
.sorting-down:focus path {
  fill: #231f20
}

.sorting-up:active path,
.sorting-down:active path {
  fill: #81b3d2;
}

.sorting-icons .current {
  pointer-events: none;
}

a.current path {
  fill: #81b3d2;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-hotel {
  list-style: none;
  border-top: 1px solid rgb(229, 229, 229);
}

.catalog-hotel:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.card-hotel {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-hotel {
  display: flex;
  width: 530px;
  padding: 0;
  margin: 0;
}

.catalog-hotel-image {
  width: 135px;
  height: 90px;
  margin: 0;
  margin-left: 2px;
  padding: 0;
}

.discription-hotel {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-left: 31px;
  padding-right: 105px;
}

.discription-hotel h1 {
  width: 365px;
  margin: 0;
  margin-top: -4px;
  margin-bottom: 5px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.hotel-name {
  padding: 0;
  margin: 0;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.price-hotel {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.reservation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 257px;
  margin: 0;
  padding: 0;
}

.catalog-hotel-type {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.catalog-hotel-price {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.button-more {
  width: 110px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-order {
  width: 142px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.button-order:hover,
.button-order:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button-order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  position: relative;
  padding-top: 64px;
  margin: 0;
}

.rating span {
  width: 110px;
  margin: 0;
  margin-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
  padding-right: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.hotel-amara {
  position: relative;
}

.hotel-amara::before {
  content: "";
  width: 90px;
  height: 17px;
  position: absolute;
  top: -67px;
  right: 0;
  background-image: url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  background-position: 0 top,
    24px top,
    49px top,
    73px top;
}

.hotel-quail-inn {
  position: relative;
}

.hotel-quail-inn::before {
  content: "";
  width: 66px;
  height: 17px;
  position: absolute;
  top: -65px;
  right: 0;
  background-image: url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: 0 top,
    24px top,
    49px top;
}

.hotel-villas {
  position: relative;
}

.hotel-villas::before {
  content: "";
  width: 41px;
  height: 17px;
  position: absolute;
  top: -65px;
  right: 0;
  background-image: url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: 0 top,
    24px top;
}
